#location
{
    text-align: left;
/*    border: 1px solid;*/
    padding-left: 0;
    margin-left: 0;


}
#condition
{
    float: left;
/*    border: 1px solid;*/

}
#temp
{

    float: left;
/*    border: 1px solid;*/
}
#weather-icon img
{
    float: left;

height: 20%;
/*    border: 1px solid;*/
}

#elements-container
{
/*    border: 1px solid;*/
    float: left;
    font-size: .70em;


}
#wind-icon
{
    display: inline-block;
  height: 7%;
    float: left;
}
#wind
{
    float: right;
    padding: 10px;
}
