#location
{
    text-align: left;
    border-bottom: 1px solid;
    padding-left: 0;
    margin-left: 0;
    width: 50%;
}
#observation
{
    display: inline-block;
}
#temp
{
    display: block;
    padding-top: 16%;
    float: left;
}
#weather-icon
{
    float: right;
    display: inline-block;
    width: 50%;
    height: 50%;
}
