#location
{
    text-align: left;
    border: 1px solid;
    padding-left: 0;
    margin-left: 0;
    width: 50%;

}
#observation
{
    border: 1px solid;
    display: inline-block;
}
#temp
{
    display: block;
    padding-top: 16%;
    float: left;
    border: 1px solid;
}
#weather-icon
{
    float: right;
    display: inline-block;
    width: 50%;
    height: 50%;
    border: 1px solid;
}

#wind
{
    border: 1px solid;
}
