@import url(https://fonts.googleapis.com/css?family=Muli:400,300);

@font-face
{
  font-family: homestead;
  src: url(src/Fonts/Homestead/homesteadDisplay.ttf);
  font-weight: bold;
}
h1
{
    font-size: 5em;
    padding-top: 2%;
    font-family: homestead;
    text-align: center;
    color: whitesmoke;
}
body
{
    background-color: black;
    color: white;
}
div
{
    color: white;
    text-align: center;
}

#clock
{
    font-size: 2em;
}
#googleMap
{
    width: 30em;
    height: 30em;
}

.container
{
    margin: 5%;
    padding: 5%;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(100,100,100,1)); /*Standard*/
    border-radius: .25em;
    border-style: solid;
    border-width: thin;

}
